BEGIN TRANSACTION;
CREATE TABLE [Threads] (
    [Id] int NOT NULL IDENTITY,
    [Name] nvarchar(max) NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    [CreatedByUserId] int NOT NULL,
    CONSTRAINT [PK_Threads] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Threads_Users_CreatedByUserId] FOREIGN KEY ([CreatedByUserId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
);

CREATE TABLE [ThreadToMessages] (
    [Id] int NOT NULL IDENTITY,
    [ThreadId] int NOT NULL,
    [MessageId] int NOT NULL,
    [position] int NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    CONSTRAINT [PK_ThreadToMessages] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_ThreadToMessages_Messages_MessageId] FOREIGN KEY ([MessageId]) REFERENCES [Messages] ([Id]) ON DELETE NO ACTION,
    CONSTRAINT [FK_ThreadToMessages_Threads_ThreadId] FOREIGN KEY ([ThreadId]) REFERENCES [Threads] ([Id]) ON DELETE NO ACTION
);

CREATE TABLE [ThreadToUser] (
    [Id] int NOT NULL IDENTITY,
    [Owner] bit NOT NULL,
    [ThreadId] int NOT NULL,
    [UserId] int NOT NULL,
    CONSTRAINT [PK_ThreadToUser] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_ThreadToUser_Threads_ThreadId] FOREIGN KEY ([ThreadId]) REFERENCES [Threads] ([Id]) ON DELETE NO ACTION,
    CONSTRAINT [FK_ThreadToUser_Users_UserId] FOREIGN KEY ([UserId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
);

CREATE INDEX [IX_Threads_CreatedByUserId] ON [Threads] ([CreatedByUserId]);

CREATE INDEX [IX_ThreadToMessages_MessageId] ON [ThreadToMessages] ([MessageId]);

CREATE INDEX [IX_ThreadToMessages_ThreadId] ON [ThreadToMessages] ([ThreadId]);

CREATE INDEX [IX_ThreadToUser_ThreadId] ON [ThreadToUser] ([ThreadId]);

CREATE INDEX [IX_ThreadToUser_UserId] ON [ThreadToUser] ([UserId]);

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20250520120705_AddingThreads', N'9.0.5');

COMMIT;
GO


