@page "/login"
@using System.Threading.Tasks
@using System.Net
@using System.ComponentModel
@using Models.UserModels

@inject HttpClient Http
@inject AuthService Auth
@inject UserInformation UserInfo





<PageTitle>Login</PageTitle>

@if (Auth.isLoggedIn)
{
<div class="form-group" style="@Style">
    <p>Welcome @UserInfo.Username</p>
    <button class="btn btn-primary" @onclick="OnLogout">Logout</button>
</div>
}
else
{
<div class="form-group" style="@Style">
    <label for="UserName">Username:</label><input type="text" class="form-control" id="UserName" @bind="User.Username" />
    <label for="Password">Password:</label><input type="password" class="form-control" id="Password" @bind="User.Password" />
    <button class="btn btn-primary" @onclick="OnLogin">Login</button>
</div>
}

@statusMessage


@code {
    [Parameter] public string? Width { get; set; }
    [Parameter] public string? Height { get; set; }
    
    private string Style { get => "width:" + (string.IsNullOrEmpty(Width)?"auto":Width) + "; height:" + (string.IsNullOrEmpty(Height)?"auto":Height) + ";"; }
    public class LoginModel
    {
        public string? Username { get; set; }
        public string? Password { get; set; }
    } 

    public class LoginResponse
    {
        public int UserId { get; set; }
        public string? Username { get; set; }
        public string? Name { get; set; }
        public string? Token { get; set; }
    }
    
    LoginModel User { get; set; } = new LoginModel();

    public string? statusMessage = string.Empty;

    private async Task OnLogin()
    {
        statusMessage = "Logging in as: " + User.Username  + " / " + User.Password;

        HttpResponseMessage? response = await Http.PostAsJsonAsync(requestUri: "http://localhost:5063/api/users/Login", User);

         
        if (!response.IsSuccessStatusCode)
        {
            statusMessage += " / Login Failed: " + response.StatusCode;
        }
        else
        {
            statusMessage += " / Login Successful: ";// + result?.Username;
            LoginResponse? result = await response.Content.ReadFromJsonAsync<LoginResponse>();
            Auth.SetBearerToken(result!.Token!);
            Auth.ApplyAuthorization(Http);
            if (result != null)
            {
                statusMessage += " Hello " + result?.Name;
            }
            UserInfo.UserId = result!.UserId;
            UserInfo.Username = result!.Username;
            StateHasChanged();
        }
    }

    private async Task OnLogout() {
        Auth.ClearBearerToken();
        Auth.ApplyAuthorization(Http);
        UserInfo.Clear();
        statusMessage = "Logged out.";
    }


}


